@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font default */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb; /* bg-gray-50 supaya putih */
  color: #111827;            /* text-gray-900 */
}

/* hapus display:flex & place-items:center supaya layout flex di React yang atur */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
  background-color: #f9fafb; /* putih */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb; /* putih */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
